*{border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 0;
}

body {
	background-color:#CCCCFF;
}
#page{
	width:800px;
	margin:auto;
	background-color:#DDD;
	min-height:500px;
}

#menu{
	
	height:600px;
	width:142px;
	float:left;
	padding-top:10px;
}

#content{
margin-left:110px;
padding-left:10px;
padding-right:10px;
background-color:white;
}

a, a:visited{
	color:black;
	}



#menu ul li{
	list-style-type:none;
	padding-left:10px;
	
}

a:hover{
	color:white;
}



/*The style below will apply to the element with an
id of "header" */
#header{
	width:100%;
	height:100px;
	background-color:#AAFFAA;
}

